body{
    background-color: blanchedalmond;
}

h1 {
    color: brown;
    font-family: 'Courier New', Courier, monospace ;
    font-weight:bolder;
}

h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
   } 

ul {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}