.fruit-calendar {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 0px;
}

.title {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    margin-top: 140px;
    color: purple;
}

.container{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.calendar-box{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 6rem;
}

.calendar-box a img {
    width: 13rem;
    height: 13rem;
    padding: 1rem;
}


.bigger:hover {
    transform: scale(1.2);
    -webkit-transition: transform 0.6s ease-in-out;
}

.biggest:hover { 
    transform: scale(1.6);
    -webkit-transition: transform 0.6s ease-in-out;
}

.smaller:hover {
    transform: scale(0.8);
    -webkit-transition: transform 0.6s ease-in-out;
}

.smallest:hover {
    transform: scale(0.6);
    -webkit-transition: transform 0.6s ease-in-out;
}



body {
    background-image: url("imgs/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
